include README.md
recursive-include openreview/conference/templates *.js
include openreview/conference/templates/*.py
include openreview/venue_request/webfield/*.js
include openreview/venue_request/process/*.js
include openreview/venue_request/process/*.py
include openreview/agora/webfield/*.js
include openreview/agora/process/*.js
include openreview/agora/process/*.py
include openreview/duplicate_domains.json
include openreview/journal/process/*.py
include openreview/journal/webfield/*.js
include openreview/venue/process/*.py
include openreview/venue/process/*.js
include openreview/venue/webfield/*.js
include openreview/arr/process/*.js