include README.md
recursive-include openreview/conference/templates *.js
include openreview/conference/templates/*.py
include openreview/venue_request/webfield/*.js
include openreview/venue_request/process/*.js
include openreview/venue_request/process/*.py
include openreview/agora/webfield/*.js
include openreview/agora/process/*.js
include openreview/agora/process/*.py
include openreview/duplicate_domains.json
include openreview/journal/process/*.py
include openreview/journal/webfield/*.js
include openreview/journal/journal_request/process/*.py
include openreview/profile/process/*.py
include openreview/profile/process/*.js
include openreview/profile/webfield/*.js
include openreview/venue/process/*.py
include openreview/venue/process/*.js
include openreview/venue/webfield/*.js
include openreview/arr/process/*.js
include openreview/arr/process/*.py
include openreview/arr/management/*.py
include openreview/arr/webfield/*.js
include openreview/workflows/process/*.py
include openreview/workflows/process/*.js
include openreview/workflows/webfield/*.js
include openreview/workflows/workflow_process/*.py