version: 2
jobs:
  build:
    working_directory: ~/openreview-py-repo
    docker:
      - image: circleci/node:12.13.1
      - image: circleci/redis:3-stretch
      - image: circleci/mongo:3.6-stretch
      - image: elastic/elasticsearch:6.2.2
    steps:
      - checkout
      - run: sudo apt-get update
      - run: sudo apt-get install python3
      - run: curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
      - run: sudo python3 get-pip.py
      - run: sudo pip3 install ~/openreview-py-repo
      - run: git clone https://$OPENREVIEW_GITHUB@github.com/iesl/openreview.git ~/openreview
      - run: mkdir ~/openreview/logs
      - run: mkdir ~/openreview/files
      - run: mkdir ~/openreview/files/attachments
      - run: mkdir ~/openreview/files/pdfs
      - run:
          name: install app
          command: |
            cd ~/openreview
            npm install
            sudo npm install -g grunt-cli
            grunt regen
      - run:
          name: run app
          command: |
            cd ~/openreview
            NODE_ENV=circleci node scripts/clean_start_app.js
          background: true
      - run:
          shell: /bin/sh
          command: |
            wget --retry-connrefused --waitretry=1 --read-timeout=20 --timeout=15 -t 10 http://localhost:3000
            :
      - run:
          name: install firefox driver
          command: |
            sudo apt-get update
            sudo apt-get install firefox-esr
            mkdir ~/openreview-py-repo/tests/drivers
            cd ~/openreview-py-repo/tests/drivers
            wget https://github.com/mozilla/geckodriver/releases/download/v0.26.0/geckodriver-v0.26.0-linux64.tar.gz
            tar -xvzf geckodriver*
            chmod +x geckodriver
      - run:
          name: run tests
          command: |
            cd ~/openreview-py-repo
            sudo pip3 install -U pytest
            sudo pip3 install selenium
            sudo pip3 install pytest-selenium
            sudo pip3 install pytest-cov
            sudo pip3 install -e .
            mkdir test-reports
            pytest --junitxml=test-reports/junit.xml --driver Firefox --driver-path tests/drivers/geckodriver --cov-report term-missing --cov=./
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
  deploy:
    working_directory: ~/openreview-py-repo
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run: sudo pip install twine
      - run: python setup.py bdist_wheel --universal
      - run: twine upload dist/* --skip-existing
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
