version: 2
jobs:
  build:
    working_directory: ~/openreview-py-repo
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run: sudo pip install ~/openreview-py-repo
      # - run: sudo pip install -U pytest
      # - run:
      #     name: run tests
      #     command: |
      #       mkdir test-reports
      #       pytest --junitxml=test-reports/junit.xml
      # - store_test_results:
      #     path: test-reports
      # - store_artifacts:
      #     path: test-reports
  build-py3:
    working_directory: ~/openreview-py-repo
    docker:
      - image: circleci/python:3.6
    steps:
      - checkout
      - run: sudo pip install ~/openreview-py-repo
      # - run: sudo pip install -U pytest
      # - run:
      #     name: run tests
      #     command: |
      #       mkdir test-reports
      #       pytest --junitxml=test-reports/junit.xml
      # - store_test_results:
      #     path: test-reports
      # - store_artifacts:
      #     path: test-reports
  test:
    working_directory: ~/openreview-py-repo
    docker:
      - image: circleci/node:8.9.1
      - image: circleci/redis:3
      - image: circleci/mongo:3.6
      - image: docker.elastic.co/elasticsearch/elasticsearch:6.2.2
    steps:
      - run: git clone https://$OPENREVIEW_GITHUB@github.com/iesl/openreview.git
      - run: sudo pip install -U pytest
      - run:
          name: run tests
          command: |
            mkdir test-reports
            pytest --junitxml=test-reports/junit.xml
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
  deploy:
    working_directory: ~/openreview-py-repo
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run: sudo pip install twine
      - run: python setup.py bdist_wheel --universal
      - run: twine upload dist/* --skip-existing
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - build-py3
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: master
