version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
jobs:
  build:
    working_directory: ~/openreview-py-repo
    docker:
      - image: circleci/node:12.13.1
      - image: circleci/redis:6.0.0
      - image: circleci/mongo:3.6.4
      - image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
        environment:
          xpack.security.enabled: false
          transport.host: localhost
    steps:
      - checkout
      - run:
          name: install ubuntu build reqs
          command: |
            sudo apt update && sudo apt upgrade -y
            sudo apt install build-essential libssl-dev zlib1g-dev libncurses5-dev libncursesw5-dev libreadline-dev libsqlite3-dev libgdbm-dev libdb5.3-dev libbz2-dev libexpat1-dev liblzma-dev tk-dev libffi-dev
      - run:
          name: install python 3.7
          command: |
            sudo apt-get install software-properties-common
            sudo apt-get update
            sudo add-apt-repository --yes ppa:deadsnakes/ppa
            sudo apt-get update
            sudo apt-get install python3.7
            wget https://bootstrap.pypa.io/get-pip.py
            sudo python3.7 get-pip.py
            sudo python3.7 -m pip install --upgrade pip setuptools wheel
      - run: sudo pip3 install ~/openreview-py-repo
      - run: git clone https://$OPENREVIEW_GITHUB@github.com/openreview/openreview.git ~/openreview
      - run: git clone https://$OPENREVIEW_GITHUB@github.com/openreview/openreview-web.git ~/openreview-web
      - run: mkdir ~/openreview/logs
      - run: mkdir ~/openreview/files
      - run: mkdir ~/openreview/files/attachments
      - run: mkdir ~/openreview/files/pdfs
      - run: mkdir ~/openreview-py-repo/coverage
      - run:
          name: install api
          command: |
            cd ~/openreview
            npm install
            sudo npm install -g grunt-cli
            grunt regen
      - run:
          name: run api
          command: |
            cd ~/openreview
            NODE_ENV=circleci node scripts/clean_start_app.js
          background: true
      - run:
          shell: /bin/sh
          command: |
            wget --retry-connrefused --waitretry=1 --read-timeout=20 --timeout=15 -t 10 http://localhost:3000
            :
      - run:
          name: install web-app
          command: |
            cd ~/openreview-web
            npm install
            export NEXT_PORT=3030
            cp .env.sample .env
            npm run dev
          background: true
      - run:
          shell: /bin/sh
          command: |
            wget --retry-connrefused --waitretry=5 --read-timeout=20 --timeout=15 -t 10 http://localhost:3030
            :
      - run:
          name: install firefox driver
          command: |
            sudo apt-get update
            sudo apt-get install firefox-esr
            mkdir ~/openreview-py-repo/tests/drivers
            cd ~/openreview-py-repo/tests/drivers
            wget https://github.com/mozilla/geckodriver/releases/download/v0.26.0/geckodriver-v0.26.0-linux64.tar.gz
            tar -xvzf geckodriver*
            chmod +x geckodriver
      - run:
          name: run tests
          command: |
            cd ~/openreview-py-repo
            sudo pip3 install -U pytest
            sudo pip3 install selenium
            sudo pip3 install pytest-selenium
            sudo pip3 install pytest-cov
            sudo pip3 install codecov
            sudo pip3 install -e .
            mkdir test-reports
            pytest --junitxml=test-reports/junit.xml --driver Firefox --driver-path tests/drivers/geckodriver --cov-report xml:~/openreview-py-repo/coverage/cov.xml --cov=./
      - codecov/upload:
          file: "~/openreview-py-repo/coverage/cov.xml"
      - store_test_results:
          path: test-reports
      - store_artifacts:
          path: test-reports
  deploy:
    working_directory: ~/openreview-py-repo
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run: sudo pip install twine
      - run: python setup.py bdist_wheel --universal
      - run: twine upload dist/* --skip-existing
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
